:root {
  --white: #fafafa;
  --slate_600: #87879d;
  --slate_300: #d1d1df;
  --slate_900: #28283d;
  --cyan_600: #4d96a9;
  --cyan_300: #8fe3f9;
  --purple_600: #855fb1;
  --purple_300: #d9b8ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Mobile first approach*/
body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 3rem 2rem;
  gap: 2rem;
  overflow-x: hidden;
  font-family: "Red Hat Display", sans-serif;
}
.logo {
  margin-bottom: 4rem;
}
.faces {
  background-image: url("./starter-code/assets/desktop/image-hero-left.png"),
    url("./starter-code/assets/desktop/image-hero-right.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 100px - 0.8rem) center,
    calc(50% + 100px + 0.8rem) center;
  background-size: contain;
  width: 100vw;
  margin-left: -2rem;
  margin-right: -2rem;
  min-height: 10rem;
  margin-bottom: 3rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--slate_900);
  line-height: 110%;
  margin-bottom: 1.5rem;
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--slate_600);
  margin-bottom: 1.5rem;
}
button {
  border: none;
  border-radius: 30px;
  padding: 20px 40px;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  margin: 1rem;
}
.button-blue {
  background-color: var(--cyan_600);
}
.button-blue:hover {
  background-color: #66c3da;
  cursor: pointer;
}
.button-blue span {
  color: var(--cyan_300);
}
.button-purple {
  background-color: var(--purple_600);
}
.button-purple:hover {
  background-color: #af7ee7;
  cursor: pointer;
}
.button-purple span {
  color: var(--purple_300);
}
.number {
  position: relative;
  border: 1.5px solid var(--slate_300);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  color: var(--slate_600);
  font-weight: 900;
  margin: 6rem auto 0 auto;
  background-color: var(--white);
}
.number::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  height: 80px;
  background-color: var(--slate_300);
}
.image__collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(144px));
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.image__collage img {
  grid-column: span 1;
  grid-row: span 1;

  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}
.title p {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--cyan_600);
  font-size: 12px;
}
.title h2 {
  color: var(--slate_900);
  font-size: 2rem;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 2rem;
}
.footer {
  margin: -28px -2rem -3rem;
  padding: 4rem 2rem;
  background: linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
    url("./starter-code/assets/mobile/image-footer.jpg") center/cover no-repeat;
}
.footer h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.footer p {
  color: var(--white);
  margin-bottom: 0.5;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}
/*Tablets*/
@media screen and (min-width: 40rem) {
  .faces {
    min-height: 19rem;
    background-image: url(./starter-code/assets/tablet/image-hero.png);
    background-position: center;
  }
  h1 {
    font-size: 3rem;
  }
  .image__collage {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
  }
  .title p {
    font-size: 0.875rem;
  }
  .title h2 {
    font-size: 2.25rem;
  }
  .footer {
    margin: -28px -2rem -3rem;
    padding: 4rem 2rem;
    background: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url(./starter-code/assets/tablet/image-footer.jpg) center/cover no-repeat;
  }
  /*Desktop*/
  @media screen and (min-width: 70rem) {
    body {
      padding: 5rem 10rem;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 18px;
    }
    .faces {
      display: none;
    }
    .hero__content {
      position: relative;
      padding: 4rem 2rem;
      background-image: url(./starter-code/assets/desktop/image-hero-left.png),
        url(./starter-code/assets/desktop/image-hero-right.png);
      background-repeat: no-repeat;
      background-position: left, right;
      margin-left: -12rem;
      margin-right: -12rem;
      min-height: 300px;
      text-align: center;
    }
    .title p {
      font-size: 1rem;
    }
    .title h2 {
      font-size: 60px;
    }
    .middle__content {
      padding: 0 6rem;
    }
    .footer {
      margin: -28px -10rem -5rem;
      padding: 4rem 2rem;
      background: linear-gradient(
          rgba(77, 150, 169, 0.9),
          rgba(77, 150, 169, 0.9)
        ),
        url(./starter-code/assets/desktop/image-footer.jpg) center/cover
          no-repeat;
    }
    .footer__content {
      padding: 0 4rem;
      display: flex;
      text-align: start;
      justify-content: center;
      gap: 4rem;
      align-items: center;
    }
  }
}
